/*
https://css-tricks.com/
https://unsplash.com/
http://paletton.com/
https://www.toptal.com/designers/subtlepatterns/
https://specificity.keegan.st/
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Cascade_and_inheritance
*/

body {
    background-image: url(../images/crossline-lines.png);
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}
h1 {
    color: #3C2B74;
    text-align: center;
    border-style: solid;
    border-width: 6px;
    border-color: rgba(124, 110, 170, 0.4);
    cursor: pointer;
}

header li {
    list-style: none;
    display: inline-block;
}

.image_settings{
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 20px;
}

.image_settings:hover{
    box-shadow: 10px 8px 5px black;
    cursor: pointer;
}

.image_settings:active{
    transform: translate(10px , 8px);
    box-shadow: 5px 4px 5px black;
    cursor: pointer;
}




/*
p {
    color: blue;
}

p {
    color: green;
}*/
