/*
https://www.cleancss.com/css-minify/
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://flexboxfroggy.com/
https://www.w3schools.com/cssref/css3_browsersupport.asp
https://caniuse.com
http://shouldiprefix.com
https://thoughtbot.com/blog/transitions-and-transforms


SOME IMAGES LINKS


https://static.pexels.com/photos/52500/horse-herd-fog-nature-52500.jpeg

https://static.pexels.com/photos/66898/elephant-cub-tsavo-kenya-66898.jpeg

https://static.pexels.com/photos/213399/pexels-photo-213399.jpeg

https://static.pexels.com/photos/158471/ibis-bird-red-animals-158471.jpeg

https://static.pexels.com/photos/133459/pexels-photo-133459.jpeg

https://static.pexels.com/photos/50988/ape-berber-monkeys-mammal-affchen-50988.jpeg
*/


img{
    width: 350px;
    height: 200px;
    margin: 10px;
    transition: all 2s;

}

img:hover{
    transform: scale(1.2);
    transform: rotate(360deg);
}

.pic-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    position: sticky;
    top: 0;
    font-size: 3em;
    font-family: Harrington;
    border: 2px solid green;
    width: 97%;
    box-shadow: 6px 8px 5px black;
    margin:10px 10px 10px 10px;
    text-align: center;

}

body{
    background-image: url("https://images.unsplash.com/photo-1455656678494-4d1b5f3e7ad4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: 1400px 1000px;
}